<%= form_for @service, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

          <ul>
          <% @service.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="field">
          <%= f.label :service_type, class: "control-label" %>
          <%= f.select :service_type, [['Equipment Removal','Equipment Removal'],['Consignment sales','Consignment sales'],['Data Destruction & Sanitization','Data Destruction & Sanitization'],['Direct purchase','Direct purchase'],['Equipment & Product Destruction','Equipment & Product Destruction'],['Electronic Storage Media Shredding','Electronic Storage Media Shredding'],['Value Assessment','Value Assessment']], class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :onsite_contact_name, class: "control-label" %>
          <%= f.text_field :onsite_contact_name, :value => @user.onsite_contact_name, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :onsite_contact_phone, class: "control-label" %>
          <%= f.text_field :onsite_contact_phone, :value => @user.onsite_contact_phone, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :company_name, class: "control-label" %>
          <%= f.text_field :company_name, :value => @user.company_name, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :address, class: "control-label" %>
          <%= f.text_field :address, :value => @user.company_address, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :city, class: "control-label" %>
          <%= f.text_field :city, :value => @user.company_city, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :state, class: "control-label" %>
          <%= f.text_field :state, :value => @user.company_state, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :zipcode, class: "control-label" %>
          <%= f.number_field :zipcode, :value => @user.company_zip, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :equipment_description, class: "control-label" %>
          <%= f.text_area :equipment_description, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :pallets, "Number of Pallets (bins or gaylords)", class: "control-label" %>
          <%= f.text_field :pallets, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :image, "Upload Main Equipment Photo", class: "control-label" %><br>
          <%= f.file_field :image %><br>
          <% if !@service.image.blank? %>
            <%= image_tag(@service.image.url(:large)) %><br>
          <% end %>
          <%= f.label :photos, "Upload Additional Equipment Photos", class: "control-label" %><br>
          <%= file_field_tag "photos[]", type: :file, multiple: true, class:"main-font" %><br>
          <% if !@service.pictures.empty? %>
            <% @service.pictures.each do |picture| %>
              <div class="inline-div">
                  <%= image_tag(picture.photo.url(:med), :class => "edit_pic martop") %>
                  <div class="block-div"><%= link_to 'Destroy', '/pictures/' + picture.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy-image", class:"main-font" %>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :inventory, "Upload Equipment List", class: "control-label" %>
          <%= f.file_field :inventory %><br>
          <% if !@service.inventory.blank? %>
            <i>Select to Download:</i><%= link_to 'Equipment List', @service.inventory.url, :target => "_blank" %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label :floor, class: "control-label" %>
          <%= f.text_field :floor, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :room, class: "control-label" %>
          <%= f.text_field :room, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :parking_instructions, class: "control-label" %>
          <%= f.text_area :parking_instructions, :value => @user.parking_instructions, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :day_option1, class: "control-label" %>
          <%= f.date_field :day_option1, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :day_option2, class: "control-label" %>
          <%= f.date_field :day_option2, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :time_option1, class: "control-label" %>
          <%= f.text_field :time_option1, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :time_option2, class: "control-label" %>
          <%= f.text_field :time_option2, class: "form-control" %>
        </div>
        <div>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
<% end %>
<div class="lgmarbot"></div>
