
<h2 class="section-heading">Listing Services</h2>

<!-- <%= form_tag services_path, :method => "get" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag 'Search', params[:search] %>
    <%= submit_tag 'Search', :name => nil  %>
  </p>
<% end %> -->

<table>
  <thead>
    <tr>
      <th><%= sortable "creator", "Creator" %></th>
      <th><%= sortable "service_type", "Service Type" %></th>
      <!-- <th><%= sortable "onsite_contact_name", "Onsite Contact Name" %></th>
      <th><%= sortable "onsite_contact_phone", "Onsite Contact Phone" %></th> -->
      <th><%= sortable "company_name", "Company Name" %></th>
      <th class="lgpadrt"><%= sortable "address", "Street Address" %></th>
      <th><%= sortable "city", "City" %></th>
      <th><%= sortable "state", "State" %></th>
      <th><%= sortable "zipcode", "Zip" %></th>
      <!-- <th><%= sortable "equipment_description", "Equipment Description" %></th> -->
      <!-- <th><%= sortable "pallets", "Num. of Pallets" %></th>
      <th><%= sortable "floor", "Floor" %></th>
      <th><%= sortable "room", "Room" %></th> -->
      <!-- <th><%= sortable "parking_instructions", "Parking Instructions" %></th> -->
      <th><%= sortable "day_option1", "Requested Day #1" %></th>
      <th><%= sortable "day_option2", "Requested Day #2" %></th>
      <th><%= sortable "time_option1", "Requested Time #1" %></th>
      <th><%= sortable "time_option2", "Requested Time  #2" %></th>
    </tr>
  </thead>

  <tbody>
    <% if @user.admin? %>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.creator %></td>
          <td><%= service.service_type %></td>
          <!-- <td><%= service.onsite_contact_name %></td>
          <td><%= service.onsite_contact_phone %></td> -->
          <td><%= service.company_name %></td>
          <td><%= service.address %></td>
          <td><%= service.city %></td>
          <td><%= service.state %></td>
          <td><%= service.zipcode %></td>
          <!-- <td><%= service.equipment_description %></td> -->
          <!-- <td><%= service.pallets %></td>
          <td><%= service.floor %></td>
          <td><%= service.room %></td> -->
          <!-- <td><%= service.parking_instructions %></td> -->
          <td><%= service.day_option1 %></td>
          <td><%= service.day_option2 %></td>
          <td><%= service.time_option1 %></td>
          <td><%= service.time_option2 %></td>
          <td><%= link_to 'Details', service %></td>
          <td><%= link_to 'Edit', edit_service_path(service) %></td>
          <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% elsif @user.services.any?%>
        <% @user.services.each do |service| %>
          <tr>
            <td><%= service.creator %></td>
            <td><%= service.service_type %></td>
            <!-- <td><%= service.onsite_contact_name %></td>
            <td><%= service.onsite_contact_phone %></td> -->
            <td><%= service.company_name %></td>
            <td><%= service.address %></td>
            <td><%= service.city %></td>
            <td><%= service.state %></td>
            <td><%= service.zipcode %></td>
            <!-- <td><%= service.equipment_description %></td> -->
            <!-- <td><%= service.pallets %></td>
            <td><%= service.floor %></td>
            <td><%= service.room %></td> -->
            <!-- <td><%= service.parking_instructions %></td> -->
            <td><%= service.day_option1 %></td>
            <td><%= service.day_option2 %></td>
            <td><%= service.time_option1 %></td>
            <td><%= service.time_option2 %></td>
            <td><%= link_to 'Details', service %></td>
            <td><%= link_to 'Edit', edit_service_path(service) %></td>
            <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<% unless @services.empty? %>
  <%= will_paginate @services %>
<% end %>


<br>

<%= link_to 'Create a New Service Request', new_service_path %>
