<p id="notice"><%= notice %></p>

<p>
  <strong>Service type:</strong>
  <%= @service.service_type %>
</p>

<p>
  <strong>Onsite contact name:</strong>
  <%= @service.onsite_contact_name %>
</p>

<p>
  <strong>Onsite contact phone:</strong>
  <%= @service.onsite_contact_phone %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @service.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @service.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @service.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @service.zipcode %>
</p>

<p>
  <strong>Equipment description:</strong>
  <%= @service.equipment_description %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @service.floor %>
</p>

<p>
  <strong>Room:</strong>
  <%= @service.room %>
</p>

<p>
  <strong>Parking instructions:</strong>
  <%= @service.parking_instructions %>
</p>

<p>
  <strong>Day option1:</strong>
  <%= @service.day_option1 %>
</p>

<p>
  <strong>Day option2:</strong>
  <%= @service.day_option2 %>
</p>

<p>
  <strong>Time option1:</strong>
  <%= @service.time_option1 %>
</p>

<p>
  <strong>Time option2:</strong>
  <%= @service.time_option2 %>
</p>

<p>
  <strong>:</strong>
  <%= @service. %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
