<h2 class="section-heading">Service Details</h2>

<p>
  <strong>Service type:</strong>
  <%= @service.service_type %>
</p>

<p>
  <strong>Onsite contact name:</strong>
  <%= @service.onsite_contact_name %>
</p>

<p>
  <strong>Onsite contact phone:</strong>
  <%= @service.onsite_contact_phone %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @service.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @service.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @service.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @service.zipcode %>
</p>

<p>
  <strong>Equipment description:</strong>
  <%= @service.equipment_description %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @service.floor %>
</p>

<p>
  <strong>Room:</strong>
  <%= @service.room %>
</p>

<p>
  <strong>Parking instructions:</strong>
  <%= @service.parking_instructions %>
</p>

<p>
  <strong>Day option1:</strong>
  <%= @service.day_option1 %>
</p>

<p>
  <strong>Day option2:</strong>
  <%= @service.day_option2 %>
</p>

<p>
  <strong>Time option1:</strong>
  <%= @service.time_option1 %>
</p>

<p>
  <strong>Time option2:</strong>
  <%= @service.time_option2 %>
</p>

<p>
  <strong>Equipment Photos:</strong><br>
    <ul class="list-inline">
      <% if @service.image.file? %>
          <li>
            <span><%= image_tag(@service.image.url(:large), :class => "img-responsive img-thumbnail") %></span>
            <p><%= link_to 'Destroy', remove_service_image_path, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy-image", class:"main-font" %></p>
          </li>
      <% end %>
      <% if !@service.pictures.empty? %>
      <% @service.pictures.each do |picture| %>
          <li>
            <span><%= image_tag(picture.photo.url(:med), :class => "img-responsive img-thumbnail") %></span>
            <p><%= link_to 'Destroy', '/pictures/' + picture.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy-image", class:"main-font" %></p>
          </li>
      <% end %>
    </ul>
      <% else %>
        <a class="my_add_photos_link" href="/services/<%= @service.id %>/edit">
          <p>Add Additional Equipment Photos</p>
        </a>
      <% end %>
</p>

<p>
  <strong>Equipment List:</strong><br>
  <% if !@service.inventory.nil? %>
      <i>Select to Download:</i>
      <%= link_to 'Equipment List', @service.inventory.url, :target => "_blank" %>
    <% else %>
      <i>Upload Equipment List</i>
    <% end %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>

<div class="mdmarbot"></div>
