<div>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Company Name: <%= @user.company_name %></p>
<p>Company Address: <%= @user.company_address%></p>
<p>Company City: <%= @user.company_city %></p>
<p>Company State: <%= @user.company_state %></p>
<p>Company Zip: <%= @user.company_zip %></p>
<p>Company Phone: <%= @user.company_phone %></p>
<p>Onsite Contact Name: <%= @user.onsite_contact_name %></p>
<p>Onsite Contact Phone: <%= @user.onsite_contact_phone %></p>
<p>Parking Instructions: <%= @user.parking_instructions %></p>
</div>

<div></div>
