
  <h2 class="section-heading"><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>
  <div class="user-profile">
    <p><strong>First Name:</strong> <%= @user.first_name %></p>
    <p><strong>Last Name:</strong> <%= @user.last_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Phone Number:</strong> <%= @user.phone_number %></p>
    <p><strong>Company Name:</strong> <%= @user.company_name %></p>
    <p><strong>Company Address:</strong> <%= @user.company_address%></p>
    <p><strong>Company City:</strong> <%= @user.company_city %></p>
    <p><strong>Company State:</strong> <%= @user.company_state %></p>
    <p><strong>Company Zip:</strong> <%= @user.company_zip %></p>
    <p><strong>Company Phone:</strong> <%= @user.company_phone %></p>
    <p><strong>Onsite Contact Name:</strong> <%= @user.onsite_contact_name %></p>
    <p><strong>Onsite Contact Phone:</strong> <%= @user.onsite_contact_phone %></p>
    <p><strong>Parking Instructions:</strong> <%= @user.parking_instructions %></p>
    <p><%= link_to "Edit", edit_user_path  %></p>
  </div>
