
  <h2 class="section-heading">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <p>Enter your email for password reset instructions</p>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
