<!DOCTYPE html>
<html>
<head>
  <title>AvritekClientPortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'header' %>

<div class="container-fluid lgmartop lgmarbot">
  <div class="row">
      <div class="col-md-offset-1 col-md-8">
          <p class="alert highlight-font-color bold"><%= notice %></p>
          <%= yield %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-8">
      <p class="alert highlight-font-color bold"><%= alert %></p>
    </div>
  </div>
<div>



<%= render 'footer' %>
</body>
</html>
